<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>D.M.Deller</string>
	<key>Builder Version</key>
	<string>9537.85.10.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>Re-Search</string>
	<key>CFBundleIdentifier</key>
	<string>org.horizon-nigh.re-search.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>main.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>engine</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>7A8141DE-CC69-46F0-B913-2719102ED88B</string>
						<key>Title</key>
						<string>Google</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>B27CE644-9CF6-49F8-BC0F-8C82B8479496</string>
						<key>Title</key>
						<string>Yahoo</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>6F87078F-1B51-4038-9305-4D8674713A5F</string>
						<key>Title</key>
						<string>Bing</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>11A7CF8D-9908-4D9E-B38C-68DD7E118958</string>
						<key>Title</key>
						<string>DuckDuckGo</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>44FA1270-D84E-4140-A46C-BAFD61E4792D</string>
						<key>Title</key>
						<string>Start Page</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>goEngine</string>
						<key>Identifier</key>
						<string>C86BB4AB-5A33-482F-8F0E-88DC00A4E8C5</string>
						<key>Title</key>
						<string>Disconnect</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>goFavourite</string>
				<key>Identifier</key>
				<string>favourite</string>
				<key>Image</key>
				<string>images/toolbar-icon.png</string>
				<key>Label</key>
				<string>Re-Search: Favourite</string>
				<key>Menu</key>
				<string></string>
			</dict>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>choose</string>
				<key>Image</key>
				<string>images/toolbar-icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Re-Search: Choose</string>
				<key>Menu</key>
				<string>engine</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Repeat your search with a different search engine</string>
	<key>DeveloperIdentifier</key>
	<string>2ZS98V3L3J</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://horizon-nigh.org</string>
</dict>
</plist>
