<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>6F87078F-1B51-4038-9305-4D8674713A5F</string>
		<key>Key</key>
		<string>favouriteEngine</string>
		<key>Title</key>
		<string>Search Engine</string>
		<key>Titles</key>
		<array>
			<string>Google</string>
			<string>Yahoo</string>
			<string>Bing</string>
			<string>DuckDuckGo</string>
			<string>Start Page</string>
			<string>Disconnect</string>
			<string>Custom 1</string>
			<string>Custom 2</string>
			<string>Custom 3</string>
			<string>Custom 4</string>
			<string>Custom 5</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>7A8141DE-CC69-46F0-B913-2719102ED88B</string>
			<string>B27CE644-9CF6-49F8-BC0F-8C82B8479496</string>
			<string>6F87078F-1B51-4038-9305-4D8674713A5F</string>
			<string>11A7CF8D-9908-4D9E-B38C-68DD7E118958</string>
			<string>44FA1270-D84E-4140-A46C-BAFD61E4792D</string>
			<string>C86BB4AB-5A33-482F-8F0E-88DC00A4E8C5</string>
			<string>customEngine1</string>
			<string>customEngine2</string>
			<string>customEngine3</string>
			<string>customEngine4</string>
			<string>customEngine5</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>none</string>
		<key>Key</key>
		<string>shortcut</string>
		<key>Title</key>
		<string>Keyboard Shortcut</string>
		<key>Titles</key>
		<array>
			<string>None</string>
			<string>Option-R</string>
			<string>Shift-Option-R</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>none</string>
			<string>opt-r</string>
			<string>shift-opt-r</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine 1</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>customEngine1DomainPart</string>
		<key>Title</key>
		<string>Domain Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q=*</string>
		<key>Key</key>
		<string>customEngine1QueryPart</string>
		<key>Title</key>
		<string>Query Fragment</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://example.com/search?q=*</string>
		<key>Key</key>
		<string>customEngine1RedirectURL</string>
		<key>Title</key>
		<string>Redirect URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine 2</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>customEngine2DomainPart</string>
		<key>Title</key>
		<string>Domain Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q=*</string>
		<key>Key</key>
		<string>customEngine2QueryPart</string>
		<key>Title</key>
		<string>Query Fragment</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://example.com/search?q=*</string>
		<key>Key</key>
		<string>customEngine2RedirectURL</string>
		<key>Title</key>
		<string>Redirect URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine 3</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>customEngine3DomainPart</string>
		<key>Title</key>
		<string>Domain Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q=*</string>
		<key>Key</key>
		<string>customEngine3QueryPart</string>
		<key>Title</key>
		<string>Query Fragment</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://example.com/search?q=*</string>
		<key>Key</key>
		<string>customEngine3RedirectURL</string>
		<key>Title</key>
		<string>Redirect URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine 4</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>customEngine4DomainPart</string>
		<key>Title</key>
		<string>Domain Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q=*</string>
		<key>Key</key>
		<string>customEngine4QueryPart</string>
		<key>Title</key>
		<string>Query Fragment</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://example.com/search?q=*</string>
		<key>Key</key>
		<string>customEngine4RedirectURL</string>
		<key>Title</key>
		<string>Redirect URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Custom Search Engine 5</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>customEngine5DomainPart</string>
		<key>Title</key>
		<string>Domain Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>q=*</string>
		<key>Key</key>
		<string>customEngine5QueryPart</string>
		<key>Title</key>
		<string>Query Fragment</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://example.com/search?q=*</string>
		<key>Key</key>
		<string>customEngine5RedirectURL</string>
		<key>Title</key>
		<string>Redirect URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
