<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>bing</string>
		<key>Key</key>
		<string>search-engine</string>
		<key>Title</key>
		<string>Search Engine</string>
		<key>Titles</key>
		<array>
			<string>Google</string>
			<string>Yahoo</string>
			<string>Bing</string>
			<string>DuckDuckGo</string>
			<string>Start Page</string>
			<string>Disconnect</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>google</string>
			<string>yahoo</string>
			<string>bing</string>
			<string>ddg</string>
			<string>startpage</string>
			<string>disconnect</string>
		</array>
	</dict>
</array>
</plist>
